nav {
  border: thin solid green;
}

div {
  border: thin solid yellow;
  margin: 25px 0;
}

footer {
  border: thin solid pink;
}
@media screen and (min-width: 30em) and (orientation: landscape)
  
![a](https://user-images.githubusercontent.com/98345898/153498172-f67871b8-22d7-45e6-a25a-67bcc6ac05a8.jpg)
